In [1]:
pip install python-dotenv==1.0.1

Requirement already satisfied: python-dotenv==1.0.1 in c:\users\mairaj\anaconda3\lib\site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pyodbc==5.1.0

Requirement already satisfied: pyodbc==5.1.0 in c:\users\mairaj\anaconda3\lib\site-packages (5.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
cnxn_str = ("Driver={ODBC Driver 17 for SQL Server};"
            "Server=DESKTOP-S2U3P7D;"
            "Database=BikeStore;"
           "Trusted_Connection=yes;")

In [5]:
import pyodbc

In [6]:
cnxn = pyodbc.connect(cnxn_str)

In [7]:
cursor = cnxn.cursor()

In [8]:
cursor.execute("SELECT * FROM sales.customers")

In [11]:
df = pd.read_sql("Select * from sales.customers", cnxn)

C:\Users\Mairaj\AppData\Local\Temp\ipykernel_3832\1689080397.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("Select * from sales.customers", cnxn)

In [12]:
print(df)

      customer_id  first_name last_name           phone  \
0               1       Debra     Burks            None
1               2       Kasha      Todd            None
2               3      Tameka    Fisher            None
3               4       Daryl    Spence            None
4               5  Charolette      Rice  (916) 381-6003
...           ...         ...       ...             ...
1440         1441      Jamaal  Morrison            None
1441         1442      Cassie     Cline            None
1442         1443      Lezlie      Lamb            None
1443         1444      Ivette     Estes            None
1444         1445       Ester   Acevedo            None

                        email                  street           city state  \
0       debra.burks@yahoo.com       9273 Thorne Ave.    Orchard Park    NY
1        kasha.todd@yahoo.com        910 Vine Street        Campbell    CA
2       tameka.fisher@aol.com   769C Honey Creek St.   Redondo Beach    CA
3        daryl.spence@aol.com         988 Pearl Lane       Uniondale    NY
4     charolette.rice@msn.com          107 River Dr.      Sacramento    CA
...                       ...                     ...            ...   ...
1440  jamaal.morrison@msn.com  796 SE. Nut Swamp St.   Staten Island    NY
1441   cassie.cline@gmail.com    947 Lafayette Drive        Brooklyn    NY
1442    lezlie.lamb@gmail.com  401 Brandywine Street   Central Islip    NY
1443   ivette.estes@gmail.com  88 N. Canterbury Ave.     Canandaigua    NY
1444  ester.acevedo@gmail.com        671 Miles Court     San Lorenzo    CA

     zip_code
0       14127
1       95008
2       90278
3       11553
4       95820
...       ...
1440    10301
1441    11201
1442    11722
1443    14424
1444    94580

[1445 rows x 9 columns]

In [13]:
df = pd.read_sql("Select * from hr.candidates", cnxn)

C:\Users\Mairaj\AppData\Local\Temp\ipykernel_3832\1077216475.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("Select * from hr.candidates", cnxn)

In [14]:
print(df)

   id       fullname
0   1       John Doe
1   2      Lily Bush
2   3  Peter Drucker
3   4       Jane Doe

In [15]:
df = pd.read_sql("Select * from production.brands,sales.orders", cnxn)

C:\Users\Mairaj\AppData\Local\Temp\ipykernel_3832\272736753.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("Select * from production.brands,sales.orders", cnxn)

In [16]:
print(df)

       brand_id brand_name  order_id  customer_id  order_status  order_date  \
0             1    Electra         1          259             4  2016-01-01
1             1    Electra         2         1212             4  2016-01-01
2             1    Electra         3          523             4  2016-01-02
3             1    Electra         4          175             4  2016-01-03
4             1    Electra         5         1324             4  2016-01-03
...         ...        ...       ...          ...           ...         ...
14530         9       Trek      1611            6             3  2018-09-06
14531         9       Trek      1612            3             3  2018-10-21
14532         9       Trek      1613            1             3  2018-11-18
14533         9       Trek      1614          135             3  2018-11-28
14534         9       Trek      1615          136             3  2018-12-28

      required_date shipped_date  store_id  staff_id
0        2016-01-03   2016-01-03         1         2
1        2016-01-04   2016-01-03         2         6
2        2016-01-05   2016-01-03         2         7
3        2016-01-04   2016-01-05         1         3
4        2016-01-06   2016-01-06         2         6
...             ...          ...       ...       ...
14530    2018-09-06         None         2         7
14531    2018-10-21         None         1         3
14532    2018-11-18         None         2         6
14533    2018-11-28         None         3         8
14534    2018-12-28         None         3         8

[14535 rows x 10 columns]

In [17]:
df = pd.read_sql("Select * from production.parts", cnxn)

C:\Users\Mairaj\AppData\Local\Temp\ipykernel_3832\3876955664.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("Select * from production.parts", cnxn)

In [18]:
print(df)

   part_id       part_name
0        1           Frame
1        2       Head Tube
2        3  Handlebar Grip
3        4  Shock Absorber
4        5            Fork